appdirs==1.4.0
defusedxml==0.5.0rc1
Django==1.10
django-bootstrap-ui==0.4.0
django-bootstrap3==8.1.0
django-tag-parser==2.1
dominate==2.1.17
fixture==1.5.9
oauthlib==2.0.1
packaging==16.8
PyJWT==1.4.2
pyparsing==2.1.10
python-openid==2.2.5
python-social-auth==0.3.6
python3-openid==3.0.10
PyYAML==3.12
requests==2.13.0
requests-oauthlib==0.7.0
six==1.10.0
social-auth-app-django==1.0.1
social-auth-core==1.1.0
virtualenv==15.1.0
