{% extends 'socialnetwork/base.html' %}

{# Load the tag library #}
{% load bootstrap3 %}
{# Load CSS and JavaScript #}
{% bootstrap_css %}
{# Display django.contrib.messages as Bootstrap alerts #}
{% load bootstrap_ui_tags %}
{% bootstrap_messages %}
{% load staticfiles %}
{% csrf_token %}

{% block header %}
<header>
    <div class="container_header">
        <nav class="navbar navbar-inverse navbar-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarHeader">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{% url 'index' %}">Vis Ton Meeting</a>
                </div>
                <div id="navbarHeader" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="{% url 'index' %}"><span class="glyphicon glyphicon-home"></span></a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</header>
{% endblock header %}

{% block content %}
    <div class="container_404">
        <div class="col-xs-offset-2 col-xs-8">
            <div class="bs-calltoaction">
                <div class="row">
                    <div class="col-md-12 cta-contents">
                        <h1 class="cta-title">ERREUR 404 - Page introuvable</h1>
                        <div class="cta-desc">
                            Page introuvable.. Vous avez cassé l'internet woooooooow (404)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
