/*HEADER*/
.container_header .navbar-inverse {
  background-color: #2b2a29;
  border-color: #ffff00;
  font-size: 12pt;
  font-family: 'Lobster', cursive;
  padding-right: 5px;
}
.container_header .navbar-inverse .navbar-brand {
  color: #ffff00;
  font-size: 20pt;
  font-family: 'Lobster', cursive;
  width: 200px;
}
.container_header .navbar-inverse .navbar-brand:hover,
.container_header .navbar-inverse .navbar-brand:focus {
  color: #ffff00;
}
.container_header .navbar-inverse .navbar-text {
  color: #FFFFFF;
  margin-left: 15px;
}
.container_header .navbar-inverse .navbar-nav > li > a{
  color: #FFFFFF;
}
.container_header .navbar-inverse .navbar-nav > li > a:hover,
.container_header .navbar-inverse .navbar-nav > li > a:focus {
  color: #ffff00;
  text-decoration: underline;
}
.container_header .navbar-inverse .navbar-nav > .active > a,
.container_header .navbar-inverse .navbar-nav > .active > a:hover,
.container_header .navbar-inverse .navbar-nav > .active > a:focus {
  color: #ffff00;
  background-color: #ffff00;
}
.container_header .navbar-inverse .navbar-nav > .open > a,
.container_header .navbar-inverse .navbar-nav > .open > a:hover,
.container_header .navbar-inverse .navbar-nav > .open > a:focus {
  color: #ffff00;
}
.container_header .navbar-inverse .navbar-toggle {
  border-color: #ffff00;
}
.container_header .navbar-inverse .navbar-toggle:hover,
.container_header .navbar-inverse .navbar-toggle:focus {
  background-color: #ffff00;
}
.container_header .navbar-inverse .navbar-toggle .icon-bar {
  background-color: #ffff00;
}
.container_header .navbar-inverse .navbar-collapse,
.container_header .navbar-inverse .navbar-form {
  border-color: #ffff00;
}
.container_header .navbar-inverse .navbar-link {
  color: #ffff00;
}
.container_header .navbar-inverse .navbar-link:hover {
  color: #ffff00;
}

.container_header .navbar-inverse .navbar-btn {
  margin-left: 15px;
}

.container_header .navbar-inverse .dropdown_sortie ul{
  color: #FFFFFF;
  background-color: #2b2a29;
  border:1px solid #FFFF00;
}

.container_header .navbar-inverse .dropdown_sortie ul li > a{
  color: #FFFFFF;
}
.container_header .navbar-inverse .dropdown_sortie ul li > a:hover,
.container_header .navbar-inverse .dropdown_sortie ul li > a:focus {
  color: #ffff00;
  text-decoration: underline;
  background: #2b2a29;
}


/*******************************************/

/*CONNEXION*/
.container_header #login-dp{
    min-width: 300px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:#2b2a29;
    border-color: #ffff00;
    margin-top: 3px;
    opacity: 0.9;
}
.container_header #login-dp .help-block{
    font-size:12px    
}

.container_header #login-dp .form-group {
    margin-bottom: 10px;
}

/*******************************************/

/*BODY*/
html{
  height: 100%;
  margin: 0; padding: 0;
}

body {
  display : table;
  width: 100%;
  height: 100%;
  background:url('./images/background-3.jpeg');
}

footer {
  display : table-row;
  bottom: 0;
}

.container_principal{
  padding-top: 10px;
}

/*******************************************/

/*FOOTER*/
.container_footer{
  border: 1px solid #FFFF00;
  border-radius: 3px;
  background-color: #2b2a29;
  text-align: center;
  width: 100%;
  height: 100%;
  margin: 0; padding: 0;
  font-family: 'Lobster', cursive;
  color:#FFFFFF;
}

.container_footer .fa {
    opacity: 0.6;
    padding-top: 10px;
    padding-left: 25px;
    padding-right: 40px;
}

.container_footer .fa:hover{
    opacity: 1;
}

/*******************************************/

/*404*/
.container_404 .div_404{
    margin-top:80px;
    margin-bottom: 20px;
}
