.navbar-header{
  min-height:70px;
  padding-top: 10px !important;
}

.navbar-header .navbar-brand{
    color: #FFFF00;
    font-size: 30pt;
    font-family: 'Lobster', cursive;
}
.navbar-header .navbar-brand:hover,.navbar-header .navbar-brand:focus {
  color: #4BAE4F;
}

.navbar-form{
    padding-top: 10px !important;
}

.input-group-addon.success {
    color: #FFFF00;
    background-color: #4BAE4F;
    border-color: #449d47;
}

.btn-green {
    color: #f8f8f8;
    background-color: #4BAE4F;
    border-color: #449d47;
}
.btn-green:hover{
    color: #FFFF00;
}

body{
    background:url('./images/fond_ecran.jpeg');
    padding:50px;
}

.page-footer {
    background-color: #82C46C;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.page-footer h1, .page-footer h1 a, .page-footer h1 a:visited, .page-footer h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}
