
/*HEADER*/
.container_header .navbar-inverse {
  background-color: #2b2a29;
  border-color: #ffff00;
  font-size: 12pt;
  font-family: 'Lobster', cursive;
  padding-right: 5px;
}
.container_header .navbar-inverse .navbar-brand {
  color: #ffff00;
  font-size: 20pt;
  font-family: 'Lobster', cursive;
  /*background: url(./images/favicon.png) center / contain no-repeat;*/
  width: 200px;
}
.container_header .navbar-inverse .navbar-brand:hover,
.container_header .navbar-inverse .navbar-brand:focus {
  color: #ffff00;
}
.container_header .navbar-inverse .navbar-text {
  color: #FFFFFF;
  margin-left: 15px;
}
.container_header .navbar-inverse .navbar-nav > li > a{
  color: #FFFFFF;
}
.container_header .navbar-inverse .navbar-nav > li > a:hover,
.container_header .navbar-inverse .navbar-nav > li > a:focus {
  color: #ffff00;
  text-decoration: underline;
}
.container_header .navbar-inverse .navbar-nav > .active > a,
.container_header .navbar-inverse .navbar-nav > .active > a:hover,
.container_header .navbar-inverse .navbar-nav > .active > a:focus {
  color: #ffff00;
  background-color: #ffff00;
}
.container_header .navbar-inverse .navbar-nav > .open > a,
.container_header .navbar-inverse .navbar-nav > .open > a:hover,
.container_header .navbar-inverse .navbar-nav > .open > a:focus {
  color: #ffff00;
}
.container_header .navbar-inverse .navbar-toggle {
  border-color: #ffff00;
}
.container_header .navbar-inverse .navbar-toggle:hover,
.container_header .navbar-inverse .navbar-toggle:focus {
  background-color: #ffff00;
}
.container_header .navbar-inverse .navbar-toggle .icon-bar {
  background-color: #ffff00;
}
.container_header .navbar-inverse .navbar-collapse,
.container_header .navbar-inverse .navbar-form {
  border-color: #ffff00;
}
.container_header .navbar-inverse .navbar-link {
  color: #ffff00;
}
.container_header .navbar-inverse .navbar-link:hover {
  color: #ffff00;
}

.container_header .navbar-inverse .glyphicon {
  color: #FFFF00;
}

.container_header #mdp_eye{
  color:#000;
}

.container_header .navbar-inverse .navbar-btn .glyphicon {
  color: #FFFFFF;
}
.container_header .navbar-inverse .navbar-btn {
  margin-left: 15px;
}

/*CONNEXION*/
.container_header #login-dp{
    min-width: 300px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:#2b2a29;
    border-color: #ffff00;
    margin-top: 3px;
    opacity: 0.8;
}
.container_header #login-dp .help-block{
    font-size:12px    
}

.container_header #login-dp .form-group {
    margin-bottom: 10px;
}
@media(max-width:768px){
    .container_header #login-dp{
        background-color: inherit;
        color: #fff;
    }
}

/*bouton vert et jaune grace au addon*/
.input-group-addon.success {
    color: #FFFF00;
    background-color: #4BAE4F;
    border-color: #449d47;
}

.btn-green-barre {
    color: #f8f8f8;
    background-color: #4BAE4F;
    border-color: #449d47;
    margin-bottom:3px;
}
.btn-green-barre:hover{
    color: #FFFF00;
}

.btn-red-barre {
    color: #f8f8f8;
    background-color: #FF0000;
    border-color: #FF0000;
    margin-bottom:3px;
}
.btn-red-barre:hover{
    color: #FFFF00;
}

/*MODAL MDP OUBLIE*/
.container_modal_mdp .panel_header{
  font-family: 'Lobster', cursive;
  background-color: #2b2a29;
  border-color: #ffff00;
  color:#FFFF00;
  text-align: center;
  opacity: 0.9;
}
.container_modal_mdp .panel_footer{
  font-family: 'Lobster', cursive;
  background-color: #2b2a29;
  border-color: #ffff00;
  color:#FFFF00;
  padding:10px;
}
.container_modal_mdp .close{
  color:#FFFF00;
  opacity: 0.9;
}

/*BODY*/
html{
  height: 100%;
  margin: 0; padding: 0;
}
body {
  display : table;
  width: 100%;
  height: 100%;
  background:url('./images/background-3.jpeg');
}
footer {
  display : table-row;
  bottom: 0;
}

.container_principal{
    padding-top: 40px;
}

/*FOOTER*/
.container_footer{
  border: 1px solid #FFFF00;
  border-radius: 3px;
  background-color: #2b2a29;
  text-align: center;
  width: 100%;
  height: 100%;
  margin: 0; padding: 0;
}

.container_footer .footer_text{
  text-align: center;
  font-size: 12pt;
  font-family: 'Lobster', cursive;
  color:#FFFFFF;
  margin-top: 10px;
}

.container_footer .fa-twitter {
    color: #00aced;
}

.container_footer .fa-facebook {
    color: #3b5998;
}

.container_footer .fa-google-plus {
    color: #c32f10;
}

.container_footer .fa-github {
    color: #000000;
}

.container_footer .fa {
    opacity: 0.6;
    padding-top: 10px;
    padding-left: 25px;
    padding-right: 40px;
}

.container_footer .fa:hover{
    opacity: 1;
}


/*404*/
.container_404 .bs-calltoaction{
    width:auto;
    height: auto;
    padding: 10px;
    border: 1px solid black;
    border-radius: 40px;
    margin-top: 20%;
    margin-bottom: 15px;

    color: #FFFFFF; 
    background-color: #2b2a29;
    border-color: #FFFF00;
    opacity: 0.9;
}

.container_404 .bs-calltoaction > .row{
    display:table;
    width: calc(100% + 30px);
}
     
.container_404 .bs-calltoaction > .row > [class^="col-"],
.container_404 .bs-calltoaction > .row > [class*=" col-"]{
    float:none;
    display:table-cell;
    vertical-align:middle;
}

.container_404 .cta-contents{
    padding-top: 10px;
    padding-bottom: 10px;
}

.container_404 .cta-title{
    margin: 0 auto 15px;
    padding: 0;
    font-size: 25pt;
    font-family: 'Lobster', cursive;
    text-decoration: underline;
    text-align: center;
    color: #FFFF00;
}

.container_404 .cta-desc{
    padding: 0;
    font-size: 15pt;
    font-family: 'Lobster', cursive;
    text-align: center;
}

@media (max-width: 991px){
    .container_404 .bs-calltoaction > .row{
        display:block;
        width: auto;
    }
    .container_404 .bs-calltoaction > .row > [class^="col-"],
    .container_404 .bs-calltoaction > .row > [class*=" col-"]{
        float:none;
        display:block;
        vertical-align:middle;
        position: relative;
    }
    .container_404 .cta-contents{
        text-align: center;
    }
}
