.container_editerProfil .contour_edit{
	background-color: #2B2A29;
    border-radius: 40px;
    margin-top: 0;
    color:#FFFF00;
    opacity: 0.9;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 20px;
}

.container_editerProfil .page-header{
	margin-top: 0;
	text-align: center;
    font-family: 'Lobster', cursive;
    font-size: 40px;
}

.container_editerProfil .text-center h6{
	text-align: center;
    font-family: 'Lobster', cursive;
    font-size:12px;
}

.container_editerProfil .personal-info h3{
    font-family: 'Lobster', cursive;
    font-size:30px;
    text-align: center;
    margin-top: 0;
}

.container_editerProfil .control-label{
    font-family: 'Lobster', cursive;
    font-size:15px;
}

.container_editerProfil .well{
    background-color: #2B2A29;
    border-color: #FFFF00;
    color:#000;
    margin:0;
}

.container_editerProfil .btn_green_save {
    color: #f8f8f8;
    background-color: #4BAE4F;
    border-color: #449d47;
    margin-bottom:5px;
}
.container_editerProfil .btn_green_save:hover{
    color: #FFFF00;
}

.container_editerProfil .btn_green_add {
    color: #f8f8f8;
    background-color: #4BAE4F;
    border-color: #449d47;
    margin-bottom:3px;
    margin-top: 20px;
}

.container_editerProfil .btn_green_add:hover{
    color: #FFFF00;
}
