.container_editerProfil .contour_zone{
    border-radius: 40px;
    background-color: #2B2A29;
    border: 1px solid #FFFF00;
    color: #FFFF00;
    opacity: 0.9;
    font-family: 'Lobster', cursive;
    margin-bottom: 10px;
}

.container_editerProfil .titre_zone40{
    font-size: 40px;
    text-decoration: underline;
    margin-top: 5px;
    padding-bottom: 10px;
    border-bottom: 1px solid #FFFF00;
}

.container_editerProfil .titre_zone20{
    font-size: 20px;
    text-decoration: underline;
    margin: 0;
    margin-bottom: 5px;
}

.container_editerProfil .image250{
    margin-top: 20px;
    height:250px;
    width:250px;
}

.container_editerProfil .titre_zone12{
    font-size:12px;
}


.container_editerProfil .formulaire_zone{
    margin-bottom: 10px;
}

.container_editerProfil .formulaire_zone .titre_zone15{
    font-size: 15px;
    padding: 0;
    margin-top: 5px;
    margin-bottom: 3px;
}

.container_editerProfil .well{
    color:#2B2A29;
    margin:0;
    margin-left:50px;
    margin-right: 50px;
    background: #FFFFFF;
    opacity: 0.9;
    border-color: #4BAE4F;
    border-radius: 40px;
}
