.container_index .cote_gauche{
    color: #FFFFFF;
    font-family: 'Lobster', cursive;
    padding-left: 5%;
    padding-top: 8%;
    margin-bottom: 15px;
}

.container_index .titre_zone30{
    font-size: 30px;
}

.container_index .contour_zone{
    border-radius: 40px;
    background-color: #2B2A29;
    border: 1px solid #FFFF00;
    color: #FFFF00;
    opacity: 0.9;
    font-family: 'Lobster', cursive;
    margin:10px;
    padding:20px;
}

.container_index .contour_zone .titre_zone20 {
    color: #FFFF00;
    font-size: 20pt;
}
    
.container_index .contour_zone .boutonSocial a {
    color: white;
    opacity:0.7;
}
.container_index .contour_zone .boutonSocial a:hover {
    opacity:1;      
}
.container_index .contour_zone .boutonSocial .omb_btn-facebook {background: #3b5998;}
.container_index .contour_zone .boutonSocial .omb_btn-twitter {background: #00aced;}
.container_index .contour_zone .boutonSocial .omb_btn-google {background: #c32f10;}
