.cote_gauche{
    text-align: center;
    color: #FFFFFF;
    font-family: 'Lobster', cursive;
    font-size: 30px;
    padding-left: 5%;
    margin-top: 10%;
}

.omb_login{
    background-color: #2B2A29;
    border-color: #000000;
    border-radius: 40px;
    width: 100%;
    padding:10px;
    padding-top: 8px;
    opacity: 0.9;
}

@media (min-width: 768px) {
    .omb_row-sm-offset-3 div:first-child[class*="col-"] {
        margin-left: auto;
    }
    .cote_gauche{
        font-size: 40px;
    }
}

.omb_login .omb_authTitle {
    text-align: center;
    color: #FFFF00;
    font-size: 20pt;
    font-family: 'Lobster', cursive;
}
    
.omb_login .omb_socialButtons a {
    color: white;
    opacity:0.7;
}
.omb_login .omb_socialButtons a:hover {
    color: white;
    opacity:1;      
}
.omb_login .omb_socialButtons .omb_btn-facebook {background: #3b5998;}
.omb_login .omb_socialButtons .omb_btn-twitter {background: #00aced;}
.omb_login .omb_socialButtons .omb_btn-google {background: #c32f10;}


.btn-green-inscription {
    color: #f8f8f8;
    background-color: #4BAE4F;
    border-color: #449d47;
    margin-top:5px;
    margin-bottom:5px;
}

.btn-green-inscription:hover{
    color: #FFFF00;
}


