.container_menu{
    margin-top:40px;
}
.container_menu .contour_zone_violet{
    border-radius: 40px;
    border: 1px solid #A569BD;
    opacity: 0.9;
    font-family: 'Lobster', cursive;
    margin:10px;
    color: #A569BD ; 
    background-color: #5B2C6F;
}

.container_menu .contour_zone_bleu{
    border-radius: 40px;
    border: 1px solid #0ea5f5;
    opacity: 0.9;
    font-family: 'Lobster', cursive;
    margin:10px;
    color: #0ea5f5  ;
    background-color: #151ac2 ;
}

.container_menu .contenu_zone{
    padding-top: 10px;
    padding-bottom: 10px;
}

.container_menu .contenu_zone .titre_zone25{
    padding: 0;
    margin:0;
    margin-bottom: 15px;
    font-size: 25pt;
    text-decoration: underline;
    color: #FFFFFF; 
}

.container_menu .description_zone{
    padding: 0;
    font-size: 15pt;
}
