
.container_rencontre .panel-heading{
  padding:15px;
  margin:0;
}

.container_rencontre .panel-title{
  font-size: 20px;
  margin-left: 10px;
}

.container_rencontre .panel-body{
  border-top: 1px solid #FFFF00;
  margin:auto;
}

.container_rencontre .titre_zone15_NoUnderline{
    font-size: 15px;
    margin: 0;
    margin-bottom: 5px;
}

/*SWITCH GENRE*/
.container_rencontre .contour_zone_no_margin .switch_genre {
  margin:0;
  padding: 0;
  padding-top: 5px;
  margin-right: 15px;
  display: inline-block;
}
.container_rencontre .contour_zone_no_margin .switch_genre input{
  display: none;
}

.container_rencontre .contour_zone_no_margin .switch_genre i {
  display: inline-block;
  cursor: pointer;
  padding-right: 20px;
  transition: all ease 0.2s;
  -webkit-transition: all ease 0.2s;
  border-radius: 20px;
}

.container_rencontre .contour_zone_no_margin .switch_genre i:before {
  display: block;
  content: '';
  width: 20px;
  height: 20px;
  border-radius: 20px;
  background: #FFFFFF; /*couleur rond switch*/
}

.container_rencontre .contour_zone_no_margin .switch_genre :checked + i {
  padding-right: 0;
  padding-left: 20px;
  box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.5), inset 0 0 40px #00BFFF;
  -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.5), inset 0 0 40px #00BFFF; }

.container_rencontre .contour_zone_no_margin .switch_genre.femme :checked + i {
  box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.5), inset 0 0 40px #FF1493;
  -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.5), inset 0 0 40px #FF1493; }

.container_rencontre .contour_zone_no_margin label {
  display: block;
  position: relative;
  padding: 0.5rem 1rem;
  line-height: 28px;
  font-weight: normal;
  cursor: pointer;
}

.container_rencontre .contour_zone_no_margin label span {
  display: inline-block;
  margin-left: 5px;
  line-height: 25px;
  color: grey; /*couleur non choisi*/
}

.container_rencontre .contour_zone_no_margin input[type="radio"]:checked + i + .switch_homme,
.container_rencontre .contour_zone_no_margin input[type="radio"]:checked + i:before,
.container_rencontre .contour_zone_no_margin input[type="checkbox"]:checked + i + .switch_homme,
.container_rencontre .contour_zone_no_margin input[type="checkbox"]:checked + i:before {
  color: #00BFFF; 
}

.container_rencontre .contour_zone_no_margin input[type="radio"]:checked + i + .switch_femme,
.container_rencontre .contour_zone_no_margin input[type="radio"]:checked + i:before,
.container_rencontre .contour_zone_no_margin input[type="checkbox"]:checked + i + .switch_femme,
.container_rencontre .contour_zone_no_margin input[type="checkbox"]:checked + i:before {
  color: #FF69B4 
}


/*SWAP*/
.contour_zone_swap{
	  background-color: #2B2A29;
    border: 1px solid #FFFF00;
    border-radius: 40px;
    color:#FFFF00;
    opacity: 0.9;
    padding: 20px;
    font-family: 'Lobster', cursive;
    margin-top: 50px;
    margin-bottom: 20px;
}

@media(max-width:1000px){
    .contour_zone_swap{
        margin-top: 0px;
    }
}


.container_rencontre .contour_edit_swap .titre{
	text-decoration: underline;
	margin:0;
	margin-bottom: 10px;
	margin-top: 5px;
}
.container_rencontre .contour_edit_swap .info{
    color:#C0C0C0;
    font-size: 15px;
}

