.container_sortie .carte_description{
	background-color: #2B2A29;
    border: 1px solid #FFFF00;
    border-radius: 40px;
    color:#FFFF00;
    opacity: 0.9;
    padding: 20px;
    font-family: 'Lobster', cursive;
    margin:10px;
    justify-content:
}

.container_sortie .carte_description .img-rounded{
	height:150px;
	width: 150px;
}

.container_sortie .carte_description .info_top{
    font-size: 15px;
   	margin-top: 20px;
   	color:#C0C0C0;
}

.container_sortie .carte_description .info_top h4{
	text-decoration: underline;
	color:#FFFF00;
}

.container_sortie .carte_description .info_top .glyphicon {
  color: #FFFF00;
  padding-right: 10px;
}

.container_sortie .carte_description .info_description{
	text-align: justify;
    text-justify: inter-word;
    color:#C0C0C0;
    font-size: 15px;
   	margin-top: 20px;
}

.container_sortie .carte_description .info_description h4{
	text-align: center;
	text-decoration: underline;
	color:#FFFF00;
}

.container_sortie .carte_description .btn_green_like {
    color: #f8f8f8;
    background-color: #4BAE4F;
    border-color: #449d47;
    margin-bottom:3px;
}
.container_sortie .carte_description .btn_green_like:hover{
    color: #FFFF00;
}

.container_sortie .carte_description .btn_red_dislike {
    color: #f8f8f8;
    background-color: #c32f10;
    border-color: #c32f10;
    margin-bottom:3px;
}
.container_sortie .carte_description .btn_red_dislike:hover{
    color: #FFFF00;
}

.container_sortie .carte_description .btn_blue_go {
    color: #f8f8f8;
    background-color: #428bca;
	border-color: #357ebd;
    margin-bottom:3px;
}
.container_sortie .carte_description .btn_blue_go:hover{
    color: #FFFF00;
}

