{% extends 'socialnetwork/baseCo.html' %}

{# Load the tag library #}
{% load bootstrap3 %}
{# Load CSS and JavaScript #}
{% bootstrap_css %}
{# Display django.contrib.messages as Bootstrap alerts #}
{% load bootstrap_ui_tags %}
{% bootstrap_messages %}
{% load staticfiles %}
{% csrf_token %}

{% block content %}
	<div class="container">
		{% for affinite_obj in affinite %}
			<!-- carte description de l'affinité simple -->
	    	<div class="col-xs-12 col-sm-6 col-md-4">
	    		<div class="contour_zone">
	                <div class="text-center">
	                	<!-- nom de l'affinité -->
	                    <h1 class="titre_zone20">
	                    	{% if affinite_obj.ajouteur.pk == user.pk%}
		                   		{% if affinite_obj.ajoute.first_name or affinite_obj.ajoute.last_name %}
	                                {% if affinite_obj.ajoute.first_name %}
	                                    {{ affinite_obj.ajoute.first_name }} 
	                                {% endif %}
	                                {% if affinite_obj.ajoute.last_name %}
	                                    {{ affinite_obj.ajoute.last_name }} 
	                                {% endif %}
	                            {% else %}
	                                {{affinite_obj.ajoute }}
	                            {% endif %}
	                        {% else %}
	                            {% if affinite_obj.ajouteur.first_name or affinite_obj.ajouteur.last_name %}
	                                {% if affinite_obj.ajouteur.first_name %}
	                                    {{ affinite_obj.ajouteur.first_name }} 
	                                {% endif %}
	                                {% if affinite_obj.ajouteur.last_name %}
	                                    {{ affinite_obj.ajouteur.last_name }} 
	                                {% endif %}
	                            {% else %}
	                                {{affinite_obj.ajouteur }}
	                            {% endif %}
	                        {% endif %}
	                    </h1>
	                </div>
	                <div class="contenu_zone row">
	                	<!-- image de l'affinité -->
	                	<div class='col-sm-7'>
	                	{% for picture in userPicture %}
							{% if affinite_obj.ajouteur.pk == user.pk and picture.user.pk == affinite_obj.ajoute.pk  or affinite_obj.ajoute.pk == user.pk and picture.user.pk == affinite_obj.ajouteur.pk %}
								<img src="{{ MEDIA_URL }}{{ picture.picture.url }}" class="avatar img-circle img-thumbnail image150" alt="avatar">
							{% else %}
								<img src="/media/upload/profilePictureOriginal.jpg" class="avatar img-circle img-thumbnail image150" alt="avatar">
							{% endif %}
						{% empty %}
							<img src="/media/upload/profilePictureOriginal.jpg" class="avatar img-circle img-thumbnail image150" alt="avatar">
		            	{% endfor %}
		            	</div>
						
						<!-- informations simples de l'affinité -->
			            <div class="informationBase col-sm-5">
			            	{% for information in userInformation %}
			                	{% if affinite_obj.ajouteur.pk == user.pk and information.user.pk == affinite_obj.ajoute.pk or affinite_obj.ajoute.pk == user.pk and information.user.pk == affinite_obj.ajouteur.pk  %}
									<p><span class="glyphicon glyphicon-user {% if information.genre == 'H' %} sexeHomme {% else %} sexeFemme {% endif %}"></span>
										{{information.get_genre_display}}
				                    </p>
				                    <p><span class="glyphicon glyphicon-gift"></span>
										{{information.age}} ans
				                    </p>
				                    <p><span class="glyphicon glyphicon-map-marker"></span>
										{{information.get_localisation_display}}
				                    </p>
		                        {% endif %}
		                    {% endfor %}
			            </div>
		            </div>
		            <!-- bouton plus d'informations avec redirection modal -->
		            <a data-toggle="modal" data-target="#profil_complet{{affinite_obj.pk}}" class="btn btn_dark col-xs-offset-3 col-xs-6">
	                    <span class="glyphicon glyphicon-resize-full"></span><span> + d'informations </span>
	                </a>
	                <!-- formulaire pour suppression affinité ou ouverture chat -->
	                <div class="row">
                        <form action="affinite_suppr" class="form-horizontal" role="form" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="id_affinite" value="{{affinite_obj.id}}"/>
                            {% bootstrap_button "Supprimer" button_type="submit" button_class="btn btn_red col-xs-offset-1 col-xs-4" name='suppr' icon='glyphicon glyphicon-trash' %}
                        </form>
                        <form action="chat" class="form-horizontal" role="form" method="post">
                        	{% csrf_token %}
                            <input type="hidden" name="id_affinite" value="{{affinite_obj.id}}"/>
                            {% bootstrap_button "Discuter" button_type="submit" button_class="btn btn_green col-xs-offset-2 col-xs-4" name='chat_open' icon='glyphicon glyphicon-comment' %}
						</form>
	                </div>
	    		</div>
			</div>

			<!-- Modal pour afficher le profil complet -->
		    <div class="modal fade" id="profil_complet{{affinite_obj.pk}}" tabindex="-1" role="dialog" aria-labelledby="profilLabel" aria-hidden="true">
		        <div class="modal-dialog dialog_opacity">
		            <div class="panel panel_header">
		                <div class="panel-heading">
		                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		                    <h1 class="panel-title"><span class="glyphicon glyphicon-info-sign"></span> Profil complet</h1>
		                </div>
		                <div class="modal_body row">	
		                	<!-- photo de l'affinité avec redirection modal -->
		                	<div class="col-sm-6 col-xs-5">
			                	{% for picture in userPicture %}
									{% if affinite_obj.ajouteur.pk == user.pk and picture.user.pk == affinite_obj.ajoute.pk  or affinite_obj.ajoute.pk == user.pk and picture.user.pk == affinite_obj.ajouteur.pk %}
										<img src="{{ MEDIA_URL }}{{ picture.picture.url }}" class="avatar img-circle img-thumbnail image250Pointeur" alt="avatar" data-toggle="modal" data-target="#modal_image_profil{{affinite_obj.pk}}">
									{% else %}
										<img src="/media/upload/profilePictureOriginal.jpg" class="avatar img-circle img-thumbnail image250Pointeur" alt="avatar" data-toggle="modal" data-target="#modal_image_profil{{affinite_obj.pk}}">
									{% endif %}
								{% empty %}
									<img src="/media/upload/profilePictureOriginal.jpg" class="avatar img-circle img-thumbnail image250Pointeur" alt="avatar" data-toggle="modal" data-target="#modal_image_profil{{affinite_obj.pk}}">
				            	{% endfor %}
			                </div>
			                <!-- informations completes de l'affinité -->
			                <div class="col-sm-6 col-xs-7 text-center">
				                <div class="text-center">
				                    <h1 class="titre_zone20">
            	                    	{% if affinite_obj.ajouteur.pk == user.pk%}
            		                   		{% if affinite_obj.ajoute.first_name or affinite_obj.ajoute.last_name %}
            	                                {% if affinite_obj.ajoute.first_name %}
            	                                    {{ affinite_obj.ajoute.first_name }} 
            	                                {% endif %}
            	                                {% if affinite_obj.ajoute.last_name %}
            	                                    {{ affinite_obj.ajoute.last_name }} 
            	                                {% endif %}
            	                            {% else %}
            	                                {{affinite_obj.ajoute }}
            	                            {% endif %}
            	                        {% else %}
            	                            {% if affinite_obj.ajouteur.first_name or affinite_obj.ajouteur.last_name %}
            	                                {% if affinite_obj.ajouteur.first_name %}
            	                                    {{ affinite_obj.ajouteur.first_name }} 
            	                                {% endif %}
            	                                {% if affinite_obj.ajouteur.last_name %}
            	                                    {{ affinite_obj.ajouteur.last_name }} 
            	                                {% endif %}
            	                            {% else %}
            	                                {{affinite_obj.ajouteur }}
            	                            {% endif %}
            	                        {% endif %}
				                    </h1>
				                </div>
				                <div class="informationBase">
				                    {% for information in userInformation %}
					                	{% if affinite_obj.ajouteur.pk == user.pk and information.user.pk == affinite_obj.ajoute.pk or affinite_obj.ajoute.pk == user.pk and information.user.pk == affinite_obj.ajouteur.pk  %}
											<p><span class="glyphicon glyphicon-user {% if information.genre == 'H' %} sexeHomme {% else %} sexeFemme {% endif %}"></span>
												{{information.get_genre_display}}
						                    </p>
						                    <p><span class="glyphicon glyphicon-gift"></span>
												{{information.age}} ans
						                    </p>
						                    <p><span class="glyphicon glyphicon-map-marker"></span>
												{{information.get_localisation_display}}
						                    </p>
						                    <p class="description_comment"><span class="glyphicon glyphicon-comment"></span> 
												{{ information.description }}
						                    </p>
				                        {% endif %}
				                    {% endfor %}
				                </div>
		    				</div>
			            </div>
		            </div>
		        </div>
		    </div>

			<!-- Modal pour afficher les photos en grand -->
		    <div class="modal fade" id="modal_image_profil{{affinite_obj.pk}}" tabindex="-1" role="dialog" aria-labelledby="modalImage" aria-hidden="true">
		        <div class="modal-dialog dialog_PP">
		        	<div class="panel panel_header">
		                <div class="panel-heading">
		                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		                    <h1 class="panel-title"><span class="glyphicon glyphicon-info-sign"></span> Photo de profil</h1>
		            	</div>
		            	<div class="modal-content">
		                	{% for picture in userPicture %}
								{% if affinite_obj.ajouteur.pk == user.pk and picture.user.pk == affinite_obj.ajoute.pk  or affinite_obj.ajoute.pk == user.pk and picture.user.pk == affinite_obj.ajouteur.pk %}
									<img src="{{ MEDIA_URL }}{{ picture.picture.url }}" class="avatar img-thumbnail image400" alt="avatar">
								{% else %}
									<img src="/media/upload/profilePictureOriginal.jpg" class="avatar img-thumbnail image400" alt="avatar">
								{% endif %}
							{% empty %}
								<img src="/media/upload/profilePictureOriginal.jpg" class="avatar img-thumbnail image400" alt="avatar">
			            	{% endfor %}
		            	</div>
		            </div>
		        </div>
		    </div>

		<!-- si aucune affinité, petit message d'avertissement -->
		{% empty %}
			<div class="container">
				<!-- petit message aucune affinité-->
		    	<div class="col-xs-12 col-sm-6 col-md-4">
		    		<div class="contour_zone">
		                <div class="text-center">
		                    <h1 class="titre_zone20">
		                    	Vous n'avez pas d'affinités pour le moment
		                    </h1>
		                </div>
		    		</div>
				</div>
			</div>

		{% endfor %}
	</div>

	<script>
	    // Permet de mettre en actif le bouton de la navbar du header
	    $(document).ready(function () {
	      $(".nav li").removeClass("active");
	      $('#page_affinite').addClass('active');
	    });
	</script>
{% endblock content %}
