{% extends 'socialnetwork/menusortie.html' %}

{# Load the tag library #}
{% load bootstrap3 %}
{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}
{# Display django.contrib.messages as Bootstrap alerts #}
{% load bootstrap_ui_tags %}
{% bootstrap_messages %}
{% load staticfiles %}
{% csrf_token %}

{% block menu_main %}
    <link rel="stylesheet" href="{% static 'css/bar.css' %}">
	<div class="container_sortie">
<div style="padding-top:25px;"></div> 
<div class="container_bar">
	{% for bar in Bars %}

	<div class="row" >


		<div class="col-xs-12 col-sm-6 col-md-9">
			<div class="well well-sm">
				<div class="row">
					<div class="col-sm-6 col-md-2">
						<img src="/media/{{ bar.picture }}" class="img-rounded img-responsive" draggable="false" />
					</div>
					<div class="col-sm-6 col-md-4">
                			<h4>{{ bar.name }}</h4>
						<small>
							<cite>{{bar.address}}<i class="glyphicon glyphicon-map-marker"></i></cite>
						</small>
						<p>
							<i class="glyphicon glyphicon-star-empty"></i> Specialité : {{bar.speciality}} <br />
							<i class="glyphicon glyphicon-euro"></i> Prix moyen : {{bar.prix}} €
						</p>
					</div>
					<div class="col-sm-6 col-md-6">
						<h4>Description du bar</h4>
						<p>{{bar.description}}</p>
					</div>
					<div class="col-sm-6 col-md-12" >
						<div class="row nav">
							<div class="col-md-12" style="margin: 0px;">
								<div>
									<button class="btn btn1 like"  onclick="like( {{ bar.id }}, '{{bar.name}}' )">J'aime</button>
									<span id={{bar.id}}></span>
									<p>
									<button class="btn btn2 like"  onclick="dislike( {{ bar.id }}, '{{bar.name}}' )">Je n'aime pas
									</button>
									<span id={{bar.id}}></span>
								</div>
								<span class="pull-right"><button class="rate-btn rate-btn-report"> <i class="fa fa-car fa-lg" ></i> J'y vais aujourd'hui !</button></span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	{% endfor %} 

</div>

	</div>

{% endblock menu_main %}
