{% extends 'socialnetwork/menusortie.html' %}

{# Load the tag library #}
{% load bootstrap3 %}
{# Load CSS and JavaScript #}
{% bootstrap_css %}
{# Display django.contrib.messages as Bootstrap alerts #}
{% load bootstrap_ui_tags %}
{% bootstrap_messages %}
{% load staticfiles %}
{% csrf_token %}

{% block menu_main %}
    <link rel="stylesheet" href="{% static 'css/sortie.css' %}">
    <script src="{% static 'js/bar.js' %}"></script>

<div class="container_sortie">
	{% for bar in Bars %}
	<div class="row" >
		<div class="col-xs-offset-1 col-xs-10">
			<div class="carte_description">
				<div class="row">
					<div class="col-xs-12 col-sm-6 col-md-6 text-center info_top">
						<img src="/media/{{ bar.picture }}" class="img-rounded" draggable="false" />
                		<h4>{{ bar.name }}</h4>
						<h5><span class="glyphicon glyphicon-map-marker"></span>{{bar.address}}</h5>
						<h5><span class="glyphicon glyphicon-star-empty"></span> Specialité : {{bar.speciality}}</h5>
						<h5><span class="glyphicon glyphicon-euro"></span> Prix moyen : {{bar.prix}} €</h5>
					</div>
					<div class="info_description col-sm-6 col-sm-6 col-md-6">
						<h4>Description du bar</h4>
						<p>{{bar.description}}</p>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-8 col-sm-6">
						<button class="btn btn_red_dislike col-xs-offset-2 col-xs-4"  onclick="dislike( {{ bar.id }})">
							<span class="glyphicon glyphicon-thumbs-down"></span><span class="hidden-sm hidden-xs"> Je n'aime pas </span>
						</button>
						<span id={{bar.id}}></span>
						<button class="btn btn_green_like col-xs-offset-1 col-xs-4"  onclick="like( {{ bar.id }})"><span class="glyphicon glyphicon-thumbs-up"></span><span class="hidden-sm hidden-xs"> J'aime</span>
						</button>
						<span id={{bar.id}}></span>
					</div>
					<div class="col-xs-4 col-sm-6">
						<button class="btn btn_blue_go col-xs-offset-2 col-xs-8 col-sm-offset-3 col-sm-6"  onclick="present( {{ bar.id }})"><span class="glyphicon glyphicon-road"></span><span class="hidden-sm hidden-xs"> Aujourd'hui j'y vais ! </span>
						</button>
						<span id={{bar.id}}></span>
					</div>
					    <div class="row lead">
					        <div id="stars-existing" class="starrr" data-rating='4' data-id='{{bar.id}}'></div>
					        Note moyenne : <span id="count-existing-{{bar.id}}" ></span>/5
					    </div>
					
				</div>
			</div>
		</div>
	</div>
	{% endfor %} 
</div>

{% endblock menu_main %}
