{# Load the tag library #}
{% load bootstrap3 %}
{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}
{# Display django.contrib.messages as Bootstrap alerts #}
{% load bootstrap_ui_tags %}
{% bootstrap_messages %}

{% load staticfiles %}
<html>
    <head>
        <meta charset="utf-8">
        <title>Vis Ton Meeting</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
    </head>

    <body>
        <header>
            <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="/index">Vis Ton Meeting</a>
                    </div>
                    <form id="signin" class="navbar-form navbar-right" role="form">
                        <div class="input-group">
                            <span class="input-group-addon success"><i class="glyphicon glyphicon-user"></i></span>
                            <input id="email" type="email" class="form-control" name="email" value="" placeholder="Adresse email">                                        
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon success"><i class="glyphicon glyphicon-lock"></i></span>
                            <input id="password" type="password" class="form-control" name="password" value="" placeholder="Mot de passe">                                        
                        </div>
                        <button type="submit" class="btn btn-green">Connexion</button>
                    </form>
                </div>
            </nav>
        </header>

        
        {% block content %}
        {% endblock %}


        <footer>
            <div>
                <ul>
                    <li><a href="/index">Home</a></li>
                    <li><a href="/index">A propos</a></li>
                </ul>       
               </div>       
            <div>
                <p>© 2017 Vis Ton Meeting. All rights reserved. </p>
            </div>
        </footer>
    </body>

</html>
