{% extends 'socialnetwork/baseCo.html' %}

{# Load the tag library #}
{% load bootstrap3 %}
{# Load CSS and JavaScript #}
{% bootstrap_css %}
{# Display django.contrib.messages as Bootstrap alerts #}
{% load bootstrap_ui_tags %}
{% bootstrap_messages %}
{% load staticfiles %}
{% csrf_token %}

{% block content %}
	<div class="container">
		<div class="row">
			<!-- bouton retour affinités et bouton pour rafraichir la page -->
			<div class="col-xs-offset-1 col-xs-10">
				<div class="text-center row">
					<a href="{% url 'affinite' %}" class="btn btn-lg btn_dark col-sm-offset-1 col-sm-4 col-xs-offset-1 col-xs-10">
						<span class="glyphicon glyphicon-fire"></span>Retour affinités</span>
					</a>
					<form action="chat" class="form-horizontal" role="form" method="post">
                    	{% csrf_token %}
                        <input type="hidden" name="id_affinite" value="{{affinite_chat.id}}"/>
                        {% bootstrap_button "Rafraichir" button_type="submit" button_class="btn btn-lg btn_dark col-sm-offset-2 col-sm-4 col-xs-offset-1 col-xs-10" name='refresh' icon='glyphicon glyphicon-refresh' %}
					</form>
				</div>
			</div>
			<!-- chat-->
	    	<div class="col-xs-offset-1 col-xs-10">
	    		<div class="contour_zone">
	                <div class="text-center">
	                	<!-- nom de la personne avec qui le chat se déroule -->
	                    <h1 class="titre_zone20"><span class="glyphicon glyphicon-comment"></span>Conversation avec
	                    {% if affiniteInformation.first_name or affiniteInformation.last_name %}
                            {% if affiniteInformation.first_name %}
                                {{ affiniteInformation.first_name }} 
                            {% endif %}
                            {% if affiniteInformation.last_name %}
                                {{ affiniteInformation.last_name }} 
                            {% endif %}
	                    {% else %}
	                    	{{affiniteInformation.username}}
	                    {% endif %}
	                    </h1>
	                </div>
	                <!-- chargement des messages avec cette personne/ placement gauche ou droite -->
                    <div class="row contenu_scroll" id="div_scroll">
                        {% for obj in chat_message %}
                            {% if obj.emetteur.pk == user.pk %}
                                <li class="col-xs-offset-5 col-xs-7 text-right titre_zone_chat_droite">{{ obj.message }}</li>
                            {% else %}
                                <li class="col-xs-7 text-left titre_zone_chat_gauche">{{ obj.message }}</li>
                            {% endif %}
                        {% empty %}
                            <li class="text-right titre_zone_chat_droite">Pas encore de messages entre vous..</li>
                        {% endfor %}
                    </div>
                    <!-- formulaire pour envoyer le message -->
	                <form  action="chat_post" class="form-horizontal" role="form" method="post">
	                	{% csrf_token %}
	                    <div class="input-group contenu_scroll_bottom">
	                    	<input type="hidden" name="id_affinite" value="{{affinite_chat.id}}"/>
	                        <input type="text" id="chat-msg" name="chat-msg" class="form-control"/>
	                        <span class="input-group-btn">
	                            <input class="btn btn_green" id="send" type="submit" value="Envoyer"/>
	                        </span>
	                    </div>
	                </form>
	    		</div>
			</div>
	   	</div>
	</div>
	<!-- chargement du script pour bouton navbar actif/bouton envoyer grisé/scroll en bas dans le chat -->
	<script src="{% static 'js/chat.js' %}"></script>
{% endblock content %}
