{% extends 'socialnetwork/baseCo.html' %}

{# Load the tag library #}
{% load bootstrap3 %}
{# Load CSS and JavaScript #}
{% bootstrap_css %}
{# Display django.contrib.messages as Bootstrap alerts #}
{% load bootstrap_ui_tags %}
{% bootstrap_messages %}
{% load staticfiles %}
{% csrf_token %}

{% block content %}
	<script src="{% static 'js/chat.js' %}"></script>

    <div class="container">
		<div class="row">
			<div class="col-xs-offset-1 col-xs-10">
				<div class="text-center">
					<a href="{% url 'affinite' %}" class="btn btn-lg btn_dark">
						<span class="glyphicon glyphicon-fire"></span>Retour affinités</span>
					</a>
				</div>
			</div>
			<!-- chat-->
	    	<div class="col-xs-offset-1 col-xs-10">
	    		<div class="contour_zone">
	                <div class="text-center">
	                    <h1 class="titre_zone20"><span class="glyphicon glyphicon-comment"></span>Conversation avec
	                    {% if affiniteInformation.first_name or affiniteInformation.last_name %}
                            {% if affiniteInformation.first_name %}
                                {{ affiniteInformation.first_name }} 
                            {% endif %}
                            {% if affiniteInformation.last_name %}
                                {{ affiniteInformation.last_name }} 
                            {% endif %}
	                    {% else %}
	                    	{{affiniteInformation.username}}
	                    {% endif %}
	                    </h1>
	                </div>
                    <div class="row contenu_scroll" id="div_scroll">
                        {% for obj in chat_message %}
                            {% if obj.emetteur.pk == user.pk %}
                                <li class="col-xs-offset-5 col-xs-7 text-right titre_zone_chat_droite">{{ obj.message }}</li>
                            {% else %}
                                <li class="col-xs-7 text-left titre_zone_chat_gauche">{{ obj.message }}</li>
                            {% endif %}
                        {% empty %}
                            <li class="text-right titre_zone_chat_droite">Pas encore de messages entre vous..</li>
                        {% endfor %}
                    </div>
                    <script type="text/javascript">
                    	// scroll en bas à chaque fois
        				element = document.getElementById('div_scroll');
        				element.scrollTop = element.scrollHeight;
                    </script> 
	                <form  action="chat_post" class="form-horizontal" role="form" method="post">
	                	{% csrf_token %}
	                    <div class="input-group contenu_scroll_bottom">
	                    	<input type="hidden" name="id_affinite" value="{{affinite_chat.id}}"/>
	                        <input type="text" id="chat-msg" name="chat-msg" class="form-control"/>
	                        <span class="input-group-btn">
	                            <input class="btn btn_green" id="send" type="submit" value="Envoyer"/>
	                        </span>
	                    </div>
	                </form>
	    		</div>
			</div>
	   	</div>
	</div>
	<script>
	    // Permet de mettre en actif le bouton de la navbar du header
	    $(document).ready(function () {
	      $(".nav li").removeClass("active");
	      $('#page_affinite').addClass('active');
	    });
	</script>
{% endblock content %}
