{% extends 'socialnetwork/baseCo.html' %}

{# Load the tag library #}
{% load bootstrap3 %}
{# Load CSS and JavaScript #}
{% bootstrap_css %}
{# Display django.contrib.messages as Bootstrap alerts #}
{% load bootstrap_ui_tags %}
{% bootstrap_messages %}
{% load staticfiles %}
{% csrf_token %}

{% block content %}    
    <div class="container">
		<div class="row">
			<!-- carte description de l'affinité simple -->
	    	<div class="col-xs-offset-2 col-xs-8">
	    		<div class="contour_zone">
	                <div class="text-center">
	                    <h1 class="titre_zone20">Conversation avec XXXXXXX</h1>
	                </div>
	    		</div>
			</div>
	   	</div>
	</div>
	<script>
	    // Permet de mettre en actif le bouton de la navbar du header
	    $(document).ready(function () {
	      $(".nav li").removeClass("active");
	      $('#page_affinite').addClass('active');
	    });
	</script>
{% endblock content %}
