{# Load the tag library #}
{% load bootstrap3 %}
{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}
{# Display django.contrib.messages as Bootstrap alerts #}
{% load bootstrap_ui_tags %}
{% bootstrap_messages %}

{% block bootstrap3_content %}
    <div class="container">
        <h2>{% block title %} Connexion {% endblock %}</h2>
        {% if messages %}
            {% for message in messages %}
                <div{% if message.tags %} class="alert alert-{{ message.tags }} alert-dismissable"{% endif %}>
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
        <form action="connexion" method="post" class="form">
            {% csrf_token %}
            {% bootstrap_form form layout='inline' %}
            {% buttons %}
                <button type="submit" class="btn btn-primary"> Connexion </button>
            {% endbuttons %}
        </form>
        <br>
        <p><strong>-- OR --</strong></p>
        <a href="{% url 'social:begin' 'github' %}">Login with GitHub</a><br>
    </div>
{% endblock %}
