{% extends 'socialnetwork/baseCo.html' %}

{# Load the tag library #}
{% load bootstrap3 %}
{# Load CSS and JavaScript #}
{% bootstrap_css %}
{# Display django.contrib.messages as Bootstrap alerts #}
{% load bootstrap_ui_tags %}
{% bootstrap_messages %}
{% load staticfiles %}
{% csrf_token %}

{% block content %}
	<div class="container">
		<div class="row">
			<!-- zone contenant les boutons de redirection vers les différentes sorties et le choix de la localisation -->
	    	<div class="col-xs-offset-1 col-xs-10">
	    		<div class="contour_zone">
	    			<!-- bouton bar/restaurant/discotheque -->
	                <div class="row sortie_bouton">
	                	<a href="{% url 'bar' %}" id="page_bar" class="btn btn-lg btn_dark col-xs-offset-1 col-xs-10 col-sm-offset-1 col-sm-2 en_cours">
	                		<span class="glyphicon glyphicon-glass"></span><span class="hidden-xs hidden-sm">Bar</span>
	                	</a>
	                	<a href="{% url 'discotheque' %}" id="page_discotheque" class="btn btn-lg btn_dark col-xs-offset-1 col-xs-10 col-sm-offset-2 col-sm-2">
	                		<span class="glyphicon glyphicon-music"></span><span class="hidden-xs hidden-sm">Discothèque</span>
	                	</a>
	                	<a href="{% url 'restaurant' %}" id="page_restaurant" class="btn btn-lg btn_dark col-xs-offset-1 col-xs-10 col-sm-offset-2 col-sm-2">
	                		<span class="glyphicon glyphicon-cutlery"></span><span class="hidden-xs hidden-sm">Restaurant</span>
	                	</a>
		            </div>
		            <div class="text-center">
	                    <h1 class="titre_zone20">Choisissez une localisation pour votre recherche..</h1>
	                </div>
	                <!-- formulaire pour le changement de localisation, affichage en fonction -->
	                <div class="row">
	                    <form method="post" action="changementloc">
                       		{% csrf_token %}
							<div class="form-group has-success col-sm-offset-2 col-sm-6 col-xs-12">
								{% bootstrap_field sortieForme.localisation placeholder='Localisation' addon_before='<span class="glyphicon glyphicon-map-marker"></span>' addon_before_class='input-group-addon success' show_label=False%}
							</div>
							<div class="col-sm-3 col-xs-12">
								<button type="input" class="btn btn_green col-xs-offset-1 col-xs-10">
		                        <span class="glyphicon glyphicon-ok"></span><span class="hidden-xs"> Valider </span>
		                    	</button>
		                    </div>
                    	</form>
		            </div>
	    		</div>
			</div>
	   	</div>
	</div>
	
	{% block menu_main %}
	<!-- contenu de la page en plus du menu du dessus -->
	{% endblock menu_main %}

	<!-- chargement script div visible ou cachée/personne present dans le restaurant/notation du restaurant/changer localisation-->
	<script src="{% static 'js/sortie.min.js' %}"></script>
{% endblock content %}
