{% extends 'socialnetwork/baseCo.html' %}

{# Load the tag library #}
{% load bootstrap3 %}
{# Load CSS and JavaScript #}
{% bootstrap_css %}
{# Display django.contrib.messages as Bootstrap alerts #}
{% load bootstrap_ui_tags %}
{% bootstrap_messages %}
{% load staticfiles %}
{% csrf_token %}

{% block content %}
    <link rel="stylesheet" href="{% static 'css/menu.css' %}">
    
    <div class="container_menu">
        <div class="col-sm-offset-1 col-sm-5">
            <div class="bs-calltoaction bs-calltoaction-r">
                <div class="row">
                    <div class="col-md-12 cta-contents">
                        <h1 class="cta-title">Rencontres</h1>
                        <div class="cta-desc">
                            <p>Envi de rencontres, d'amitié et d'amour?</p>
                            <p>C'est ici pour trouver les personnes qui changeront votre vie.</p>
                            <p>N'hésitez plus !!</p>
                            <p>Rencontrez des personnes qui vous ressemblent.</p>
                            <u>Ami</u>
                            <br>
                            <u>Amour</u>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-offset-3 col-md-6 col-sm-6 col-xs-offset-2 col-xs-8 cta-button">
                        <a href="{% url 'rencontre' %}" class="btn btn-lg btn-block btn-r">Démarrer !</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-5">
            <div class="bs-calltoaction bs-calltoaction-s">
                <div class="row">
                    <div class="col-md-12 cta-contents">
                        <h1 class="cta-title">Sorties</h1>
                        <div class="cta-desc">
                            <p>Marre de rester seul chez toi?</p>
                            <p>C'est ici pour passer les plus belles soirées loin de la solitude.</p>
                            <p>N'hésitez plus !!</p>
                            <p>Sortez pour admirer vos possibilités.</p>
                            <u>Restaurant, bar</u>
                            <br>
                            <u>Discothèque</u>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-offset-3 col-md-6 col-sm-6 col-xs-offset-2 col-xs-8 cta-button">
                        <a href="{% url 'sortie' %}" class="btn btn-lg btn-block btn-s">Démarrer !</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
<script>
    // Permet de mettre en actif le bouton du menu header
    $(document).ready(function () {
        $(".nav li").removeClass("active");
        $('#page_home').addClass('active');
    });
</script>
{% endblock content %}

