 {% extends 'socialnetwork/baseCo.html' %}
{# Load the tag library #}
{% load bootstrap3 %}
{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}
{# Display django.contrib.messages as Bootstrap alerts #}
{% load bootstrap_ui_tags %}
{% bootstrap_messages %}
{% load staticfiles %}
{% csrf_token %}

{% block content %}
    <link rel="stylesheet" href="{% static 'css/menusortie.css' %}">
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	
	<div class="container_menusortie">
		<nav class="navbar navbar-inverse sidebar" role="navigation">
	    	<div class="container-fluid">
	    	<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-sidebar-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand  toggle-btn" href="#">Options<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-star-empty"></span></a>
				</div>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li class="active"><a href="{% url 'montemple' %}">Mon temple<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-tent"></span></a></li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">Localisation <span class="caret"></span><span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-map-marker"></span></a>
							<ul class="dropdown-menu forAnimate" role="menu">
								<li><a href="#">Changer position</a></li>
							</ul>
						</li>
						<li ><a href="#">Bar<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-glass"></span></a></li>
						<li ><a href="#">Discothèque<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-music"></span></a></li>
						<li><a href="#">Restaurant<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-cutlery"></span></a></li>
					</ul>
				</div>
			</div>
		</nav>
		
		{% block menu_main %}
		{% endblock menu_main %}
	</div>
{% endblock content %}
