{% extends 'socialnetwork/baseCo.html' %}

{# Load the tag library #}
{% load bootstrap3 %}
{# Load CSS and JavaScript #}
{% bootstrap_css %}
{# Display django.contrib.messages as Bootstrap alerts #}
{% load bootstrap_ui_tags %}
{% bootstrap_messages %}
{% load staticfiles %}
{% csrf_token %}

{% block content %}    
    <div class="container">
        <!--Groupe rencontre -->
        <div class="col-sm-6">
            <div class="contour_zone_violet">
                <div class="row">
                    <div class="col-md-12 contenu_zone">
                        <!--Titre rencontre -->
                        <div class="text-center">
                            <h1 class="titre_zone25_blanc">Rencontres</h1>
                        </div>
                        <!--Description rencontre -->
                        <div class="description_zone text-center">
                            <p>Envi de rencontres, d'amitié et d'amour?</p>
                            <p>C'est ici pour trouver les personnes qui changeront votre vie.</p>
                            <p>N'hésitez plus !!</p>
                            <p>Rencontrez des personnes qui vous ressemblent.</p>
                            <u>Ami</u>
                            <br>
                            <u>Amour</u>
                        </div>
                    </div>
                </div>
                 <!--Bouton redirection rencontre -->
                <div class="row">
                    <div class="col-sm-offset-3 col-md-6 col-sm-6 col-xs-offset-2 col-xs-8">
                        <a href="{% url 'rencontre' %}" class="btn btn-lg btn-block btn_violet">Démarrer !</a>
                    </div>
                </div>
            </div>
        </div>
        <!--Groupe sortie -->
        <div class="col-sm-6">
            <div class="contour_zone_bleu">
                <div class="row">
                    <div class="col-md-12 contenu_zone">
                        <!--Titre sortie -->
                        <div class="text-center">
                            <h1 class="titre_zone25_blanc">Sorties</h1>
                        </div>
                        <!--Description sortie -->
                        <div class="description_zone text-center">
                            <p>Marre de rester seul chez toi?</p>
                            <p>C'est ici pour passer les plus belles soirées loin de la solitude.</p>
                            <p>N'hésitez plus !!</p>
                            <p>Sortez pour admirer vos possibilités.</p>
                            <u>Restaurant, bar</u>
                            <br>
                            <u>Discothèque</u>
                        </div>
                    </div>
                </div>
                <!--Bouton redirection sortie -->
                <div class="row">
                    <div class="col-sm-offset-3 col-md-6 col-sm-6 col-xs-offset-2 col-xs-8">
                        <a href="{% url 'bar' %}" class="btn btn-lg btn-block btn_blue">Démarrer !</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <script>
        // Permet de mettre en actif le bouton de la navbar du header
        $(document).ready(function () {
            $(".nav li").removeClass("active");
            $('#page_home').addClass('active');
        });
    </script>
{% endblock content %}

