{% extends 'socialnetwork/baseCo.html' %}

{# Load the tag library #}
{% load bootstrap3 %}
{# Load CSS and JavaScript #}
{% bootstrap_css %}
{# Display django.contrib.messages as Bootstrap alerts #}
{% load bootstrap_ui_tags %}
{% bootstrap_messages %}
{% load staticfiles %}
{% csrf_token %}

{% block content %}
    <link rel="stylesheet" href="{% static 'css/menusortie.css' %}">
    <script src="{% static 'js/menusortie.js' %}"></script>

	<div class="container_header">
		<div class="container_menusortie">
			<nav class="navbar navbar-inverse sidebar" role="navigation">
		    	<div class="container-fluid">
		    	<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-sidebar-navbar-collapse-1">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<div class="navbar-brand">Options
	                        <span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-star-empty"></span>
	                    </div>
					</div>
					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
						<ul class="nav navbar-nav">
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">Localisation <span class="caret"></span><span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-map-marker"></span></a>
								<ul class="dropdown-menu forAnimate" role="menu">
								 	<form method="post">
		                           		{% csrf_token %}
										<div class="form-group has-success"><select type="checkbox" class="form-control" id="localisation" name="localisation">
										<option value=72 id=72 onclick="local(id)">Sarthe</option>
										<option value=53 id=53 onclick="local(id)">Mayenne</option>
										<option value=49 id=49 onclick="local(id)">Maine et Loire</option>
										<option value=44 id=44 onclick="local(id)">Loire Atlantique</option>
										<option value=85 id=85 onclick="local(id)">Vendée</option>
										</select></div>
	                            	</form>
								</ul>
							</li>
							<li ><a href="{% url 'bar' %}">Bar<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-glass"></span></a></li>
							<li ><a href="#">Discothèque<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-music"></span></a></li>
							<li><a href="{% url 'restaurant' %}">Restaurant<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-cutlery"></span></a></li>
						</ul>
					</div>
				</div>
			</nav>
		</div>
	</div>

	{% block menu_main %}
	<!-- contenu de la page en plus du menu du dessus -->
	{% endblock menu_main %}

	<script>
	    // Permet de mettre en actif le bouton de la navbar du header
	    $(document).ready(function () {
	      $(".nav li").removeClass("active");
	      $('#page_sortie').addClass('active');
	    });
	</script>
{% endblock content %}
