{% extends 'socialnetwork/baseCo.html' %}

{# Load the tag library #}
{% load bootstrap3 %}
{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}
{# Display django.contrib.messages as Bootstrap alerts #}
{% load bootstrap_ui_tags %}
{% bootstrap_messages %}
{% load staticfiles %}
{% csrf_token %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/menu.css' %}">
    
        <div class="container">
            <div class="col-sm-4">
                <div class="bs-calltoaction bs-calltoaction-r">
                    <div class="row">
                        <div class="col-md-12 cta-contents">
                            <h1 class="cta-title">Rencontres</h1>
                            <div class="cta-desc">
                                <p>Envi de rencontres, d'amitié et d'amour?</p>
                                <p>C'est ici pour trouver les personnes qui changeront votre vie.</p>
                                <p>N'hésitez plus, et rencontrez des personnes qui vous ressemblent.</p>
                                <u>Ami</u>
                                <br>
                                <u>Amour</u>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-offset-3 col-md-6 cta-button">
                            <a href="/index/rencontre" class="btn btn-lg btn-block btn-r">Démarrer !</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="bs-calltoaction bs-calltoaction-s">
                    <div class="row">
                        <div class="col-md-12 cta-contents">
                            <h1 class="cta-title">Sorties</h1>
                            <div class="cta-desc">
                                <p>Marre de rester seul chez toi?</p>
                                <p>C'est ici pour passer les plus belles soirées loin de la solitude.</p>
                                <p>N'hésitez plus, sortez pour admirer vos possibilités.</p>
                                <u>Cinéma, restaurant, bar</u>
                                <br>
                                <u>Bowling, laser game</u>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-offset-3 col-md-6 cta-button">
                            <a href="/index/sortie" class="btn btn-lg btn-block btn-s">Démarrer !</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="bs-calltoaction bs-calltoaction-f">
                    <div class="row">
                        <div class="col-md-12 cta-contents">
                            <h1 class="cta-title">Forum</h1>
                            <div class="cta-desc">
                                <p>Un sujet, une envie?</p>
                                <p>C'est ici pour discuter de tout, et de n'importe quoi.</p>
                                <p>N'hésitez plus et laissez libre cours à votre imagination.</p>
                                <u>Film, théatre</u>
                                <br>
                                <u>Sport, animaux</u>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-offset-3 col-md-6 cta-button">
                            <a href="/index/forum" class="btn btn-lg btn-block btn-f">Démarrer !</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock content %}

