{% extends 'socialnetwork/menusortie.html' %}

{# Load the tag library #}
{% load bootstrap3 %}
{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}
{# Display django.contrib.messages as Bootstrap alerts #}
{% load bootstrap_ui_tags %}
{% bootstrap_messages %}
{% load staticfiles %}
{% csrf_token %}

{% block menu_main %}
    <link rel="stylesheet" href="{% static 'css/montemple.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	
	<div class="container_montemple">
			
	</div>		
{% endblock menu_main %}


