{% extends 'socialnetwork/baseCo.html' %}

{# Load the tag library #}
{% load bootstrap3 %}
{# Load CSS and JavaScript #}
{% bootstrap_css %}
{# Display django.contrib.messages as Bootstrap alerts #}
{% load bootstrap_ui_tags %}
{% bootstrap_messages %}
{% load staticfiles %}
{% csrf_token %}

{% block content %}
    <link rel="stylesheet" href="{% static 'css/rencontre.css' %}">


    <div class="container_rencontre">
         <div class="col-md-4 col-sm-6">
            <div class="panel-group" id="accordion_rencontre">
                <div class="panel contour_zone_no_margin">
                    <div class="panel-heading">
                        <h1 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion_rencontre" href="#collapseInfo">
                                <span class="glyphicon glyphicon-th-list"></span> Vos informations
                            </a>
                        </h1>
                    </div>
                    <div id="collapseInfo" class="collapse in">
                        <div class="panel-body row">
                            <div class="col-xs-offset-1 col-md-10 col-xs-10 personal-info">
                                <form action="rencontre" class="form-horizontal" role="form" method="post">
                                    {% csrf_token %}
                                    <h3 class="titre_zone15_NoUnderline"> Vous êtes.. ? </h3>
                                    <label class="switch_genre">
                                        <input type="radio" name="genre" {% if genrePerson == 'H' %} checked {% endif %} id="H" value="H">
                                        <i></i>
                                        <span class="switch_homme"> Homme </span>
                                    </label>
                                    <label class="switch_genre femme">
                                        <input type="radio" name="genre" id="F" {% if genrePerson == 'F' %} checked {% endif %} value="F">
                                        <i></i>
                                        <span class="switch_femme"> Femme </span>
                                    </label>

                                    <h3 class="titre_zone15_NoUnderline"> Votre age.. ? </h3>
                                    {% bootstrap_field formInformationUser.age addon_before='<span class="glyphicon glyphicon-user"></span>' addon_before_class='input-group-addon success' show_label=False%}

                                    <h3 class="titre_zone15_NoUnderline"> Votre localisation.. ? </h3>
                                    {% bootstrap_field formInformationUser.localisation placeholder='Localisation' addon_before='<span class="glyphicon glyphicon-map-marker"></span>' addon_before_class='input-group-addon success' show_label=False%}
                                    
                                    <h3 class="titre_zone15_NoUnderline"> Votre profession.. ? </h3>
                                    {% bootstrap_field formInformationUser.profession addon_before='<span class="glyphicon glyphicon-briefcase"></span>' addon_before_class='input-group-addon success' show_label=False%}
                                    
                                    {% bootstrap_field formInformationUser.description show_label=False%}

                                    {% bootstrap_button "Sauvegarder les changements" button_type="submit" button_class="btn btn_green col-xs-12 col-md-12" name='informationUser' %}
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel contour_zone_no_margin">
                    <div class="panel-heading">
                        <h1 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion_rencontre" href="#collapseRecherche">
                                <span class="glyphicon glyphicon-th-list"></span> Votre recherche
                            </a>
                        </h1>
                    </div>
                    <div id="collapseRecherche" class="collapse">
                        <div class="panel-body row">
                            <div class="col-xs-offset-1 col-md-10 col-xs-10 personal-info">
                                <form action="rencontre" class="form-horizontal" role="form" method="post">
                                    {% csrf_token %}
                                    <h3 class="titre_zone15_NoUnderline"> Vous recherchez..? </h3>
                                    <label class="switch_genre">
                                        <input type="checkbox" name="genreM" {% if genreSearchM %} checked {% endif %} value="homme">
                                        <i></i>
                                        <span class="switch_homme"> Homme </span>
                                    </label>
                                    <label class="switch_genre femme">
                                        <input type="checkbox" name="genreF" {% if genreSearchF %} checked {% endif %} value="femme">
                                        <i></i>
                                        <span class="switch_femme"> Femme </span>
                                    </label>
                                    <h3 class="titre_zone15_NoUnderline"> Sa localisation..? </h3>
                                    {% bootstrap_field formSearchInformationUser.localisation placeholder='Localisation' addon_before='<span class="glyphicon glyphicon-map-marker"></span>' addon_before_class='input-group-addon success' show_label=False%}
                                    
                                    <h3 class="titre_zone15_NoUnderline"> Son age min..? </h3>
                                    {% bootstrap_field formSearchInformationUser.ageMin addon_before='<span class="glyphicon glyphicon-user"></span>' addon_before_class='input-group-addon success' show_label=False%}
                       
                                    <h3 class="titre_zone15_NoUnderline"> Son age max..? </h3>
                                    {% bootstrap_field formSearchInformationUser.ageMax addon_before='<span class="glyphicon glyphicon-user"></span>' addon_before_class='input-group-addon success' show_label=False%}

                                    {% bootstrap_button "Sauvegarder les changements" button_type="submit" button_class="btn btn_green col-xs-12 col-md-12" name='searchInformationUser' %}
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-8 col-sm-6">
                <div class="contour_zone_swap">
                    {% if userSelect == None %}
                        <p> Aucun profil n'a été trouvé, n'hésitez pas a réessayer plus tard. </p>
                    {% elif swap %}
                    <div class="row">
                        <div class='col-md-6 col-xs-12'>
                            <div class="col-xs-8 col-xs-offset-2 slide-row">
                                {% if userPicture %}
                                    <img src="{{ MEDIA_URL }}{{ userPicture.picture.url }}" class="avatar img-circle img-thumbnail image300Pointeur" alt="avatar" data-toggle="modal" data-target="#modal_image_profil">
                                {% else %}
                                    <div class="text-center"> 
                                        <h1 class="titre_zone15_NoUnderline">Aucune image pour ce profil...</h1>
                                    </div>
                                {% endif %}
                            </div>                         
                        </div>
                        <div class="col-md-6 col-xs-12 text-center">
                            <div class="text-center">
                                <h1 class="titre_zone20">
                                    {% if userInformation.first_name and userInformation.last_name %}
                                        {% if userInformation.first_name %}
                                            {{ userInformation.first_name }} 
                                        {% endif %}
                                        {% if userInformation.last_name %}
                                            {{ userInformation.last_name }} 
                                        {% endif %}
                                    {% else %}
                                        {{userInformation.username }}
                                    {% endif %}
                                </h1>
                            </div>
                            <div class="informationBase">
                                <p><span class="glyphicon glyphicon-user {% if userSelect.genre is 'H' %} sexeHomme {% else %} sexeFemme {% endif %}"></span> {{ userSelect.get_genre_display }} </p>
                                <p><span class="glyphicon glyphicon-gift"></span>{{ userSelect.age }} ans </p>
                                <p><span class="glyphicon glyphicon-map-marker"></span> {{ userSelect.get_localisation_display }} </p>
                                <p>
                                    <span class="glyphicon glyphicon-briefcase"></span> 
                                    {% if userSelect.profession %}
                                        {{ userSelect.profession }}
                                    {% else %}
                                        Pas de profession renseigné
                                    {% endif %}
                                </p>
                                <p class="description_comment">
                                    <span class="glyphicon glyphicon-comment"></span> 
                                    {% if userSelect.profession %}
                                        {{ userSelect.description }}
                                    {% else %}
                                        Pas de description
                                    {% endif %}
                                </p>
                            </div>
                            <div>
                                <button type="button" class="btn btn_red col-md-5 col-xs-offset-1 col-xs-4">
                                    <span class="glyphicon glyphicon-remove-sign"></span><span class="hidden-sm hidden-xs"> Ne me plait pas </span>
                                </button>
                                <button type="button" class="btn btn_green col-md-offset-1 col-md-5 col-xs-offset-2 col-xs-4">
                                    <span class="glyphicon glyphicon-heart"></span><span class="hidden-sm hidden-xs"> Me plait beaucoup </span>
                                </button>
                            </div>
                        </div>
                    </div>
                    {% else %}
                        <p> Il faut compléter toutes les informatiosn pour accéder au swap.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <!-- Modal pour afficher les photos en grand -->
    <div class="container_modal_photo">
        <div class="modal fade" id="modal_image_profil" tabindex="-1" role="dialog" aria-labelledby="modalImage" aria-hidden="true">
            <div class="modal-dialog dialog_PP">
                <div class="panel panel_header">
                    <div class="panel-heading">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h1 class="panel-title"><span class="glyphicon glyphicon-info-sign"></span> Photo de profil</h1>
                    </div>
                    <div class="modal-content">
                        <img src="{{ MEDIA_URL }}{{ userPicture.picture.url }}" class="img-responsive image400" alt="avatar">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        // Permet de mettre en actif le bouton de la navbar du header
        $(document).ready(function () {
          $(".nav li").removeClass("active");
          $('#page_rencontre').addClass('active');
        });
    </script>
{% endblock content %}


