{% extends 'socialnetwork/baseCo.html' %}

{# Load the tag library #}
{% load bootstrap3 %}
{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}
{# Display django.contrib.messages as Bootstrap alerts #}
{% load bootstrap_ui_tags %}
{% bootstrap_messages %}
{% load staticfiles %}
{% csrf_token %}

{% block content %}
    <link rel="stylesheet" href="{% static 'css/rencontre.css' %}">
   
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="well well-sm">
                <div class="row">
                    <div class="col-sm-6 col-md-4">
                    	<img src="http://lorempixel.com/200/200/people/9/" class="avatar img-circle img-thumbnail" alt="avatar">
                    </div>



                    <div class="col-sm-6 col-md-8">
                        <h4>NOM PRENOM</h4>
                        <small>LOCALISATION<i class="glyphicon glyphicon-map-marker"></i></small>
                        <p>
                            <i class="glyphicon glyphicon-envelope"></i>email@example.com
                            <br />
                            <i class="glyphicon glyphicon-gift"></i>June 02, 1988
                            <br />
							<i class="glyphicon glyphicon-envelope"></i>description</p>                  
						<div class="col-md-12 bouton">
							<button type="button" class="btn btn-danger">
 								<span class="glyphicon glyphicon-remove-sign"></span>Ne me plait pas
							</button>
							<button type="button" class="btn btn-success">
 								<span class="glyphicon glyphicon-heart"></span>Me plait beaucoup
							</button>
                		</div>
                    </div>





                </div>
            </div>
        </div>
    </div>
</div>

   </div>
   
{% endblock content %}
