{% extends 'socialnetwork/menusortie.html' %}

{# Load the tag library #}
{% load bootstrap3 %}
{# Load CSS and JavaScript #}
{% bootstrap_css %}
{# Display django.contrib.messages as Bootstrap alerts #}
{% load bootstrap_ui_tags %}
{% bootstrap_messages %}
{% load staticfiles %}
{% csrf_token %}

{% block menu_main %}	
	<div class="container">
		
	</div>
	<script>
	    // Permet de mettre en actif le bouton restaurant
	    $(document).ready(function () {
	    	$(".sortie_bouton a").removeClass("en_cours");
	      	$('#page_restaurant').addClass('en_cours');
	    });
	</script>	
{% endblock menu_main %}
